/*Style sheet for Course_Page.html*/
body{
    width:100%;
    height:1000px;
}
.pageContent{
    font-size:16px;
    width:100%;
    height:100%;
    align-content:center;
    background-color: #e1e8ef;
}

/*Start of Styles for the header content*/
.headerContent{
    display:flex;
    flex-direction:column;
    width:100%;
    height:20%;

}

.globalNav{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 85%;
    justify-content: center;
    align-items: flex-end;
}

.siteNav{
    background-color:rgb(82, 6, 112);
    width:100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.siteNavContent{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}
.siteNavContent a{
    color:white
}

/*Start of styles for the main content of the page*/
main{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*This will need to be looked at again!*/
.heroImage{
    width:60%;
    height: 18%;
}

.classInfoHolder{
    display:flex;
    flex-direction: row;
    height:100%;
    width:65%;
    justify-content: space-around;
    margin-top: 1%;
}

.leftMainContent{
    width:35%;
    background-color: rgb(255, 255, 255);
    height:fit-content;
    border-radius: 2%;
    padding: 1%;
}

.rightMainContent{
    width: 49%;
    background-color: #e1e8ef;
    height: 83%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.rightMainContent a{
    color:black;
    text-decoration: underline;
}

.assingmentsWorkToDo{
    width:45%;
    background-color: rgb(255, 255, 255);
    height:40%;
    margin: 1%;
    border-radius: 2%;
    padding: 1%;
}

.contentBrowser{
    width: 94%;
    margin: 1%;
    background-color: rgb(255, 255, 255);
    height: 50%;
    border-radius: 2%;
    padding: 1%;
}

/*Additional Styles for links and images and buttons*/
img{
    width: 8%;
    height: 30%;
}

a:link, a:visited {
    text-decoration: none;
    font-size: 16px;
  }

.button{
    color:rgb(74, 74, 243)
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .outsideContentDropdown{
        position: relative;
        display: inline-block;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .show {display: block;}